.sort_box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.none_line {
  outline: none;
  border: none;
}

.title {
  position: relative;
  top: 40px;
  width: 100px;
  height: 40px;
  font-family: 'Corbel Light';
  letter-spacing: 2px;
  font-size: 40px;
  color: white;
}

.icons {
  width: 20px;
  height: 20px;
  color: whitesmoke;
  position: relative;
  top: 36px;
  left: 20px;
}

.input_box {
  width: 400px;
  height: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 55px;
  background-color: #a4a4a4;
  font-size: 20px;
  color: whitesmoke;
}

.input_box::placeholder {
  color: whitesmoke;
}

.submit_button {
  width: 100px;
  height: 30px;
  background-color: #56b7a9;
  font-family: 'Corbel M';
  font-weight: bolder;
  border-radius: 15px;
  cursor: pointer;
}

.submit_button:hover {
  background-color: black;
  color: #56b7a9;
}
