.sort_box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.none_line {
  outline: none;
  border: none;
}

.title {
  position: relative;
  top: 40px;
  width: 100px;
  height: 40px;
  font-family: 'Corbel Light';
  letter-spacing: 2px;
  font-size: 40px;
  color: white;
}
