.box {
  position: relative;
  width: 620px;
  height: 410px;
  background-color: rgba(115, 115, 115, 0.76);
  border-radius: 80px;
  top: 5px;
}

.icons {
  width: 20px;
  height: 20px;
  color: whitesmoke;
  position: relative;
  top: 36px;
  left: 20px;
}

.input_box {
  width: 400px;
  height: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 55px;
  background-color: #a4a4a4;
  font-size: 20px;
  color: whitesmoke;
}

.input_box::placeholder {
  color: whitesmoke;
}

.font_style {
  font-size: 14px;
  color: whitesmoke;
  font-family: Calibri;
}

#form {
  position: relative;
  top: 45px;
  width: 500px;
  height: 250px;
}

form {
  display: flex;
  flex-direction: column;
}

#remember_user {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 4px;
  margin-left: 25px;
}

#remember_user_text {
  margin-left: 10px;
}

#option {
  position: relative;
  top: 65px;
  width: 320px;
  justify-content: space-between;
}
