.box {
  width: 670px;
  height: 740px;
  background-color: #56b7a9;
  border-radius: 20px;
}

.font {
  color: azure;
  font-weight: 600;
  font-family: 'Bahnschrift';
  letter-spacing: 12px;
}

#who {
  font-size: 220px;
  position: absolute;
  top: 75px;
  left: 60px;
}

#are {
  font-size: 190px;
  position: absolute;
  top: 285px;
  left: 210px;
}

#you {
  font-size: 205px;
  position: absolute;
  top: 460px;
  left: 80px;
}
